$cardBgColor: rgba(0, 0, 0, 0.8);
$cardNavBgColor: #cd890c;
$btnHoverColor: orangered;
$cardHeight: 450px;
$borderRadius: 10px;
$cardColor: white;
$cardPadding: 1rem;
$cardTtileColor: green;








$body-color: #4158d0;
$body-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
$back-color: #a9c9ff;
$h1-color: #cd890c;
$btn-color: #f0f0f0;
$btn-color-hover: #ff4500;
